
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
html {
    min-height: 100%;
    overflow: hidden;
}
* { color:#fff; text-decoration: none;}

body{
    background-color: #00ccff;
    font-family: 'Anonymous Pro', monospace;  
    color: rgba(255,255,255,.75);
    text-align: center;
}
.loading {
    display: block;
    margin-top: 25vh;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.width-40 {
    width: 40%;
    min-width: 100px;
    max-width: 400px;
    margin-bottom: 20px;
}
.progress{
    height: 10px;
    border: 10px solid #f4a261;
    border-radius: 15px;
}
.progress .color{
    background-color: #ffffff;
    width: 0px;
    height: 10px;
    border-radius: 15px;
    animation: progres 4s infinite linear;    
}
@keyframes progres{
    0%{
      width: 0%;
    }
    25%{
        width: 50%;
    }
    50%{
        width: 75%;
    }
    75%{
        width: 85%;
    }
    100%{
        width: 100%;
    }
};
.line-1{
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}